$primary-color: #333;
$text-color: #fff;
$font-style: "Roboto";
$isabelline: #f7f4f3ff;
$united-nations-blue: #6290c8ff;
// $isabelline: #f7f4f3ff;
// $jet: #333333ff;
$orange-web: #fca311ff;
$imperial-red: #f71735ff;
