@import "./resets", "./variables", "./mixins";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font-style, sans-serif;
}

a {
  color: $text-color;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 100;
  padding: 1rem;
  background-color: $isabelline;
  // color: $isabelline;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    z-index: 90;
    color: $primary-color;

    &.open {
      color: $isabelline;
      @include transition-ease-in-out;
    }
  }
}

.menu-btn {
  position: absolute;
  z-index: 90;
  right: 1rem;
  top: 1.2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease-in-out;

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: $primary-color;
    @include transition-ease-in-out;
    border-radius: 8px;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 16px;
      height: 3px;
      background-color: $primary-color;
      @include transition-ease-in-out;
      border-radius: 8px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 22px;
      height: 3px;
      background-color: $primary-color;
      @include transition-ease-in-out;
      border-radius: 8px;
    }

    &.open {
      transform: rotate(360deg);
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        width: 28px;
        background-color: $isabelline;
        z-index: 100;
      }

      &::after {
        transform: rotate(-45deg) translate(3px, -7px);
        width: 28px;
        background-color: $imperial-red;
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: $primary-color;
    list-style: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    @include transition-ease-in-out;

    &.open {
      transform: translateY(0);
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease-in-out;

      &.open {
        transform: translateX(0);
      }

      &.active > a {
        color: $imperial-red;
      }
    }

    &__link {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 400;
      @include transition-ease-in-out;

      &:hover {
        color: $imperial-red;
      }
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, rgba(#333, 0.6), rgba(#333, 0.3)),
    url("/dist/assets/img/Hero_image.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0 2rem;

  h1 {
    padding-top: 20vh;
    font-size: 3rem;
  }
  h2 {
    padding: 2rem 0 3rem;
    font-weight: 300;
    font-style: italic;
  }
  .cta {
    border: 3px solid $text-color;
    padding: 9px;
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: 1px;

    &:hover {
      background-color: #333;
      @include transition-ease-in-out;
    }
  }
}

.services {
  background-color: $imperial-red;
  text-align: center;
  padding: 5rem 0;
  // color: $primary-color;

  h2 {
    padding: 0 1.3rem 1.6rem;
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    place-items: center;

    .card {
      background-color: $isabelline;
      color: $primary-color;
      // box-shadow: 8px 8px 25px 2px rgb(128, 128, 128);
      width: 90%;
      // margin: 3.3vh auto;
      padding: 2rem;
      // text-align: center;

      i {
        font-size: 2rem;
        padding: 1.5rem;
        background-color: $imperial-red;
        color: $isabelline;
        border-radius: 50%;
      }

      .fa-funnel-dollar,
      .fa-users {
        padding: 1.5rem 1.3rem;
      }

      h3 {
        font-size: 1.3rem;
        padding: 0.5rem 0;
      }

      p {
        text-align: justify;
        font-size: 1.1rem;
      }

      // &:last-child {
      //   // margin-bottom: 9vh;
      // }
    }
  }
}

.about-us {
  background-color: $united-nations-blue;
  text-align: center;
  padding: 5rem 0;

  h2 {
    padding: 0 1.3rem 0.3rem;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    align-items: center;

    figure {
      margin: 0;

      img {
        width: 250px;
        height: 250px;
      }
    }

    p {
      text-align: justify;
      padding: 0 2rem;
      font-size: 1.1rem;
    }
  }
}

.testimonials {
  background-color: $isabelline;
  text-align: center;
  padding: 5rem 0;
  color: $primary-color;

  h2 {
    padding: 0 1.3rem 1.6rem;
  }

  &-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    place-items: center;
  }
}

.testimonials-container {
  width: 90%;
  height: 400px;
  background-color: $primary-color;
  box-shadow: 8px 8px 25px 2px rgb(0, 0, 0);
  color: $isabelline;
  padding: 3rem 1.3rem;

  p,
  h3,
  h4 {
    padding-top: 1rem;
    // background-color: blue;
  }
}

.img-container {
  margin: 0;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px 25px 2px rgb(0, 0, 0 / 33%);
  }
}

.contact {
  background-color: $orange-web;
  text-align: center;
  padding: 5rem 0;

  h2 {
    padding: 0 1.3rem 1.6rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
  }

  figure {
    margin: 0;
  }

  .handshake-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  &-form {
    background-color: $isabelline;
    color: $primary-color;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    padding: 2rem;

    &__input {
      margin: 1rem 0;
    }

    input[type="text"],
    input[type="email"] {
      border: 0;
      border-bottom: 2px solid $primary-color;
      background-color: $isabelline;
      font-size: 1rem;
      padding: 0.3rem;
      width: 100%;
    }

    input[type="submit"] {
      width: 100%;
      font-size: 1rem;
      padding: 0.6rem;
      margin-top: 0.6rem;
      cursor: pointer;
      background-color: $primary-color;
      color: $isabelline;
      border: 2px solid $primary-color;
      font-weight: 700;
      letter-spacing: 1px;
    }

    input:focus {
      outline: none;
    }
  }
}

footer {
  background-color: $primary-color;
  text-align: center;
  padding: 3rem 0;

  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // place-items: center;
    // background-color: red;
  }

  .social {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // flex-wrap: wrap;
    // gap: 0.5rem;
    // background-color: blue;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;

    .i-facebook {
      padding: 1rem 1.1rem;
      // background-color: red;
    }

    i {
      border-radius: 50%;
      border: 1px solid $isabelline;
      padding: 1rem;
      margin: 1rem 0.3rem;

      &:hover {
        background-color: #b8b8b8;
        color: $primary-color;
        @include transition-ease-in-out;
      }
    }
  }

  .footer__nav {
    // background-color: green;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-content: space-around;
    // width: 90%;
    margin: 0 auto;
    padding: 0.6rem 0 2rem;
    border-bottom: 1px solid $text-color;

    a {
      margin: 1rem 0;
    }

    a:hover {
      color: #d8d8d8;
      @include transition-ease-in-out;
    }
  }

  p {
    padding-top: 1.9rem;
  }
}

@include media-md {
  header {
    height: 6rem;
  }

  .logo {
    font-size: 2rem;
    top: 1.9rem;
    left: 2rem;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background-color: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
        color: $primary-color;
        font-weight: 500;
      }
    }
  }

  .hero {
    h1 {
      padding-top: 40vh;
    }
  }

  .services {
    &-container {
      .card {
        width: 50%;
      }
    }
  }

  .about-us {
    div {
      p {
        padding: 0 4rem;
      }
    }
  }

  .testimonials-container,
  .contact-form {
    width: 50%;
  }

  .footer-grid {
    .social {
      flex-direction: row;
      justify-content: center;
      // background-color: green;

      a {
        margin: 0 1rem;
      }
    }

    .footer__nav {
      flex-direction: row;
      justify-content: center;
      // background-color: blue;

      a {
        margin: 0 1.5rem;
      }
    }
  }
}

@include media-lg {
  header {
    height: 5.5rem;
  }

  .services-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;

    .card {
      width: 80%;
      height: 100%;
    }
  }

  .about-us {
    div {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      figure {
        grid-column: 1/3;
      }

      p {
        grid-column: 3/ -1;
      }
    }
  }

  .testimonials-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;

    .testimonials-container {
      width: 80%;
      height: 100%;
    }
  }

  .contact-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: unset;

    .contact-form {
      grid-column: 1/4;
      width: 60%;
    }

    figure {
      grid-column: 4/-1;
    }
  }
}
